<h3>Challenge: <i>&quot;{{ c.description }}&quot;</i></h1>

<div class="challengeInfo">
    <p>user: <strong>{{ c.user }}</strong></p>
    <p>deposit: <strong>{{ c.deposit }}</strong></p>
    <p>beginning: <strong><span am-time-ago="c.beginning | amFromUnix"></span></strong></p>
    <p>end: <strong><span am-time-ago="c.end | amFromUnix"></span></strong></p>
    <p>count: <strong>{{ c.count }}</strong></p>
    <p>state: <strong>{{ c.state | challenge }}</strong></p>
</div>

<table class="table table-sm table-bordered" ng-show="submissions.length">
    <tr>
        <th class="index"></th>
        <th class="index">ID</th>
        <th>URL</th>
        <th>timestamp</th>
        <th>state</th>
        <th>actions</th>
    </tr>
    <tr ng-repeat="s in submissions">
        <td class="index">{{ $index + 1 }}.</td>
        <td class="index">{{ s.ID }}</td>
        <td><a href="{{ s.url }}" target="_blank">{{ s.comment}} <i class="fas fa-external-link-alt"></i></a></td>
        <td><span am-time-ago="s.timestamp | amFromUnix"></span></td>
        <td>{{ s.state | submission }}</td>
        <td><a href ng-click="disputeSubmission(s)" ng-show="s.state === 0"><i class="fas fa-exclamation-triangle"></i></a></td>
    </tr>
</table>

<h3 ng-hide="submissions.length">There are no submissions to this challenge.</h3>

<span ng-show="accounts[0].toLowerCase() === c.user.toLowerCase()">
    <h4>Submit new evidence</h4>

    <div class="container" style="width: 100%;">

        <form ng-submit="newEvidence()">

            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url" aria-describedby="URLHelp" placeholder="https://" ng-model="form.url">
                <small id="URLHelp" class="form-text text-muted">Link to the thing you'll be judged, it better stays online.</small>
            </div>
            <div class="form-group">
                <label for="description">description</label>
                <input type="text" class="form-control" id="description" placeholder="Here is the link to what I did..." ng-model="form.description">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</span>
<h4 ng-hide="accounts[0].toLowerCase() === c.user.toLowerCase()">You are viewing submission of another user.<br>Only them can submit the evidence.</h4>