<h1><a href="#"><i class="fas fa-home"></i></a></li> &nbsp;&nbsp;&nbsp; Challenge {{ id }}</h1>

<table class="table table-sm table-bordered">
    <tr>
        <th class="index"></th>
        <th>URL</th>
        <th>timestamp</th>
        <th>state</th>
        <th>actions</th>
    </tr>
    <tr ng-repeat="s in submissions">
        <td class="index">{{ $index + 1 }}.</td>
        <td><a href="{{ s.url }}" target="_blank">{{ s.comment}} <i class="fas fa-external-link-alt"></i></a></td>
        <td><span am-time-ago="s.timestamp | amFromUnix"></span></td>
        <td>{{ s.state | submission }}</td>
        <td><a href onclick="alert('Kleros magic happen please')"><i class="fas fa-exclamation-triangle"></i></a></td>
    </tr>
</table>

<h4>Submit new evidence</h4>

<div class="container">

    <form ng-submit="newEvidence()">

        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" aria-describedby="URLHelp" placeholder="https://" ng-model="form.url">
            <small id="URLHelp" class="form-text text-muted">Link to the thing you'll be judged, it better stays online.</small>
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" placeholder="Here is the link to what I did..." ng-model="form.description">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>