<!-- <h1>{{ message }}</h1>

<h3><input readonly="" class="address" value="{{ address }}"></h3> -->

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<button class='btn btn-default' ng-click="addAlert()">Add Alert</button>

<input type="text" ng-model="url">
<input type="text" ng-model="reason">
<input type="submit" value="report" ng-click="report()">


<h4>All the challenges</h4>

<table class="table table-sm table-bordered">
    <tr>
        <th class="index"></th>
        <th>user</th>
        <th>deposit</th>
        <th>description</th>
        <th>beginning</th>
        <th>end</th>
        <th>count</th>
        <th>state</th>
        <th>submissions</th>
    </tr>
    <tr ng-repeat="c in challenges">
        <td>{{ $index + 1 }}.</td>
        <td>{{ c.user }}</td>
        <td>{{ c.deposit }}</td>
        <td>{{ c.description }}</td>
        <td><span am-time-ago="c.beginning | amFromUnix"></span></td>
        <td><span am-time-ago="c.end | amFromUnix"></span></td>
        <td>{{ c.count }}</td>
        <td>{{ c.state | challenge }}</td>
        <td><a href="#!/challenge/{{ $index }}">view all</a></td>
    </tr>
</table>

<h4>Create a new challenge</h4>

<div class="container">

    <form ng-submit="newChallenge()">

        <div class="form-group">
            <label for="deposit">Deposit in ETH</label>
            <input type="text" class="form-control" id="deposit" aria-describedby="depositHelp" placeholder="0.01" ng-model="form.deposit">
            <small id="depositHelp" class="form-text text-muted">Refunded if successful.</small>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="What do you want to accompllish?" ng-model="form.description">
        </div>
        <div class="form-group">
            <label for="start">Start time:</label>
            <input type="date" lass="form-control" id="start" ng-model="form.start">
        </div>
        <div class="form-group">
            <label for="end">End time:</label>
            <input type="date" lass="form-control" id="end" ng-model="form.end">
        </div>
        <div class="form-group">
            <label for="howMany">How many times?</label>
            <input type="text" lass="form-control" id="howMany" aria-describedby="howManyHelp" placeholder="5" ng-model="form.howMany">
            <small id="howManyHelp" class="form-text text-muted">You will need to submit evidence that many times.</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>